body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333333;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    color: #555555;
  }
  
  .section p {
    margin-bottom: 5px;
  }
  
  .section ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .section li {
    margin-bottom: 3px;
  }

  .section .perfil {
    max-width: 100%;
    height: auto;
    width: 200px; /* Ancho deseado para la imagen */
  }